In [6]:
"""
날짜 : 2023/01/13
이름 : 구홍모
내용 : 파이썬 데이터베이스 실습하기

"""
import pymysql

In [8]:
# Insert 실습
# DB 접속
conn = pymysql.connect(host='127.0.0.1',
                        user='root',
                        password='1234',
                        db='java1db',
                        charset='utf8')

# SQL 실행 객체
cur = conn.cursorsor()

# SQL 실행
sql = "insert into `user1` values ('p101','1234','파이쏜','010-1234-1111',23);"
cur.execute(sql)
conn.commit()

# DB 종료
conn.close()
print('insert complete...')

insert complete...

In [11]:
# Update 실습
# DB 접속
conn = pymysql.connect(host='127.0.0.1',
                        user='root',
                        password='1234',
                        db='java1db',
                        charset='utf8')

# SQL 실행 객체
cur = conn.cursor()

# SQL 실행
sql = "update `user1` set "
sql += "`name`='홍길동'"
sql += "`hp`='010-1111-2222'"
sql += "`age`='27'"
sql += "where `uid`='p101';"
cur.execute(sql)
conn.commit()

# DB 종료
conn.close()
print('update complete...')

ProgrammingError: (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '`hp`='010-1111-2222'`age`='27'where `uid`='p101'' at line 1")

In [1]:
# delete 실습
# DB 접속
conn = pymysql.connect(host='127.0.0.1',
                        user='root',
                        password='1234',
                        db='java1db',
                        charset='utf8')

# SQL 실행 객체
cur = conn.cursor()

# SQL 실행
sql = "delete from `user1` where `uid`=`p101` "

cur.execute(sql)
conn.commit()

# DB 종료
conn.close()
print('delete complete...')

NameError: name 'pymysql' is not defined

In [12]:
# select 실습
# DB 접속
conn = pymysql.connect(host='127.0.0.1',
                        user='root',
                        password='1234',
                        db='java1db',
                        charset='utf8')

# SQL 실행 객체
cur = conn.cursor()

sql = "select * from `user1`"
cur.execute(sql)
conn.commit()

# 데이터 출력

for row in cur.fetchall():
    print('--------------')
    print('아이디 : ',row[0])
    print('비밀번호 : ',row[1])
    print('이름 : ',row[2])
    print('휴대폰 : ',row[3])
    print('나이 : ',row[4])

conn.close()
print('select com..')

--------------
아이디 :  a201
비밀번호 :  1234
이름 :  홍길동
휴대폰 :  010-1110-2221
나이 :  30
--------------
아이디 :  a188
비밀번호 :  1234
이름 :  홍길동
휴대폰 :  010-1234-1543
나이 :  56
--------------
아이디 :  a108
비밀번호 :  1234
이름 :  홍길동
휴대폰 :  010-1234-1543
나이 :  12
--------------
아이디 :  p101
비밀번호 :  1234
이름 :  파이쏜
휴대폰 :  010-1234-1111
나이 :  23
select com..