In [1]:
"""
날짜 : 2023/01/09
이름 : 구홍모
내용 : 파이썬 리스트 실습하기

다음 셀로 가기 : shift + enter
"""

'\n날짜 : 2023/01/09\n이름 : 구홍모\n내용 : 파이썬 리스트 실습하기\n\n다음 셀로 가기 : shift + enter\n'

In [3]:
# 리스트
list1 = [1,2,3,4,5]

print('list type : ',type(list1))
print('list1[0] : ', list1[0])
print('list1[2] : ', list1[2])
print('list1[3] : ', list1[3])

list type :  <class 'list'>
list1[0] :  1
list1[2] :  3
list1[3] :  4

In [5]:
# 다양한 자료형을 갖는 리스트
list2 = [1, 3.14, True, 'Apple']

print('list type : ',type(list2))
print('list2[0] : ', list2[0])
print('list2[2] : ', list2[2])
print('list2[3] : ', list2[3])

list type :  <class 'list'>
list2[0] :  1
list2[2] :  True
list2[3] :  Apple

In [7]:
# 다차원 리스트
dataset =  [[1,2,3],
            [4,5,6],
            [7,8,9]]

print('datasetp[0][0] ',dataset[0][0])
print('datasetp[1][0] ',dataset[1][0])
print('datasetp[2][1] ',dataset[2][1])

datasetp[0][0]  1
datasetp[1][0]  4
datasetp[2][1]  8

In [10]:
# 리스트 수정, 추가 ,삭제
dataset2 = [1,2,3,4,5]
print('dataset2 :',dataset2)

dataset2[1] = 6 #수정
print('dataset2 :',dataset2)

dataset2[2:4] = [7,8,9] #추가
print('dataset2 :',dataset2)

dataset2[3:5] = [] #삭제
print('dataset2 :',dataset2)

dataset2 : [1, 2, 3, 4, 5]
dataset2 : [1, 6, 3, 4, 5]
dataset2 : [1, 6, 7, 8, 9, 5]
dataset2 : [1, 6, 7, 5]

In [13]:
# 리스트 반복문
for i in [1,2,3,4,5]:
    print('i : ',i)

cities = ['서울','대전','대구','부산','광주']
for city in cities:
    print('city : ',city)

for index, value in enumerate(cities):
    print('cities[%d] : %s' % (index, value))

i :  1
i :  2
i :  3
i :  4
i :  5
city :  서울
city :  대전
city :  대구
city :  부산
city :  광주
cities[0] : 서울
cities[1] : 대전
cities[2] : 대구
cities[3] : 부산
cities[4] : 광주

In [15]:
# 리스트 comprehension
data = [1,2,3,4,5]

rs1 = [num*2 for num in data] # 리스트 만든다
rs2 = [num*3 for num in data if num % 2 == 1]

print(rs1)
print(rs2)

[2, 4, 6, 8, 10]
[3, 9, 15]