In [1]:
"""
날짜 : 2023/01/09
이름 : 구홍모
내용 : 파이썬 튜플 실습하기

다음 셀로 가기 : shift + enter
"""

'\n날짜 : 2023/01/09\n이름 : 구홍모\n내용 : 파이썬 튜플 실습하기\n\n다음 셀로 가기 : shift + enter\n'

In [3]:
# Tuple (고정LIST : 값을 수정 불가)
dataset = (1,2,3,4,5)

print('dataset type : ',type(dataset))
print('dataset[0] : ',dataset[0])
print('dataset[1] : ',dataset[1])
print('dataset[3] : ',dataset[3])

dataset type :  <class 'tuple'>
dataset[0] :  1
dataset[1] :  2
dataset[3] :  4

In [4]:
dataset = 1, 2, 3, 4, 5 #() 생략

print('dataset type : ', type(dataset))

dataset[0]=6 # 튜플은 수정, 추가, 삭제 불가

dataset type :  <class 'tuple'>

TypeError: 'tuple' object does not support item assignment